.header {
    width: 99%;
    border-radius: 12px;
    border-style: dotted;
    padding: 5px;
    height: 70px;
    display: table;
}

.logo {
    display: table-cell;
    vertical-align: middle;
}

.logo a {
    /* margin-left: 200px;
    margin-right: -50px; */
    font-size: 25px;
    margin: auto;
}

.search_div {
    display: table-cell;
    vertical-align: middle;
}

.search_div input {
    align-content: center;
}

.explore_div {
    display: table-cell;
    vertical-align: middle;
}

.explore_div a {
    font-size: 25px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
}

.explore_div button {
    background-color: white;
    border: none;
    font-size: 25px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
    cursor: pointer;
}

article {
    margin: 10px 5px 5px 5px;
    width: 60%;
    background-color: gray;
}

.content_header {
    margin: 5px;
}

.user_img {
    margin: 5px;
}

.user_name {
    margin: 5px;
}

.content_main_img {
    margin: 5px;
}

.content_main_desc {
    margin: 5px;
}

.content_desc {
    margin: 5px;
}

.content_option {
    margin: 5px;
}

.content_option span {
    cursor: pointer;
}

.button_bundle span {
    cursor: pointer;
}

.commnet_input input{
    width: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    /* position: absolute;
    top: 50%;
    left: 50%; */
    font-size: 50px;
    color: white;
    /* transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
  }

  #backplace {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: purple;
    cursor: auto;
  }